<div class="story-body">
    <hr>
        <p>Telecom Commissions Paid To Kentucky Jails Since 2010</p>
        <select id ="county">
        <option disabled selected>Statewide Commissions</option>
        </select>
        <div id="lineChart"></div>
        <div style="font-family:inherit;font-size:14px;text-align:left;">Source: Vera Institute of Justice</div>
        <div style="font-family:inherit;font-size:14px;text-align:left;padding-top:10px">Credit: Suhail Bhat / KyCIR</div>
        <div style="font-family:inherit;font-size:12px;font-style:italic;text-align:left;padding-top:10px">Note: Louisville Metro and Fayette-Lexington are excluded as they aren’t required to report to the state.</div>
    <hr>
<script src="scripts/graphics.js"></script>
</div>
